@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
/* line 2, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_main.scss */
.font-Fjalla, p.tituloFooter, .tituloServicio {
  font-family: 'Fjalla One', sans-serif;
  transform: skew(-10deg);
}

/* line 21, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_main.scss */
.weight-1 {
  font-weight: 300;
}

/* esto genera weight-1 = 300, weight-2 = 500 y weight-3 = 700, es otra forma de darle peso a las tipografías. */
/* line 21, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_main.scss */
.weight-2 {
  font-weight: 500;
}

/* esto genera weight-1 = 300, weight-2 = 500 y weight-3 = 700, es otra forma de darle peso a las tipografías. */
/* line 21, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_main.scss */
.weight-3 {
  font-weight: 700;
}

/* esto genera weight-1 = 300, weight-2 = 500 y weight-3 = 700, es otra forma de darle peso a las tipografías. */
@keyframes swipeUp {
  0% {
    top: 0px;
    left: 0px;
  }
  50% {
    top: -6px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

/* The element to apply the animation to */
/* line 19, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_animaciones.scss */
.swipe:hover a .botonUp {
  position: relative;
  animation-name: swipeUp;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* -----HEADER ------*/
/* line 7, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
#elHeader {
  background: linear-gradient(294deg, #173a50 18%, #00121d 95%);
  padding: 0px;
  /*300 500 700*/
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

/* line 12, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
#logoNetservices {
  height: 40px;
  padding: 0;
}

/* line 17, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.botonHeader {
  width: max-content;
  padding: 8px !important;
  margin: 0px 4px;
  position: relative;
}

/* line 22, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.botonHeader::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #e8ebed;
  transform: scaleX(0);
  transition: transform 220ms ease-in-out;
  transform-origin: left;
}

/* line 35, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.botonHeader:active::before,
.botonHeader:hover::before {
  transform: scaleX(1);
}

/* line 40, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.activeMio {
  color: white !important;
  position: relative;
}

/* line 44, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.activeMio::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #3ac6e9;
}

/*----------------*/
/*----------------*/
/* line 55, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
#divTituloImg {
  background-image: linear-gradient(94deg, rgba(33, 37, 41, 0.9) 6%, rgba(58, 198, 233, 0.3) 79%), url("../media/wallpaper3.jpg");
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 40%;
}

/* line 64, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.tituloLanding {
  /* 100 300 500 700 */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #e8ebed;
  font-size: 2rem;
}

/* line 69, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.fotoFibraOptica {
  display: block;
  width: 100%;
  max-width: 30vh;
}

/* line 74, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
#divInternetHogares {
  background-image: linear-gradient(180deg, rgba(208, 0, 214, 0.2) 21%, rgba(0, 0, 0, 0.25) 84%), url("../media/wallpaper1.jpg");
  width: 100%;
}

/* line 80, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.tipoPlan {
  font-size: 1.1em;
  color: white;
}

/* line 84, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
#contenedorTituloServicio {
  background: rgba(0, 0, 0, 0.4);
  margin: 0;
  width: 100%;
}

/* line 89, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.tituloServicioLanding {
  width: 100%;
  /*300 500 700*/
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #e8ebed;
  padding: 1rem;
  font-size: 180%;
  text-align: center;
}

/* line 97, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.textServicioLanding {
  /* 100 300 500 700 */
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 200%;
}

/* line 102, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.fondoServicioLanding {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 5rem;
}

/* line 107, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.fondoServicioLanding:hover {
  background-color: rgba(0, 0, 0, 0.75);
  transform: scale(1.1);
  transition: all 250ms ease-in-out;
}

/* line 113, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.servicioLandingTitulo {
  /*300 500 700*/
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 1.3em;
  color: #e8ebed;
  border-bottom: 1px solid #5e5e5e;
}

/* line 118, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.servicioLandingTitulo .elTitulo {
  color: #e8ebed;
  padding: 0px 10px;
  margin-bottom: 0.3em;
}

/* line 124, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.servicioLandingCuerpo {
  /*300 500 700*/
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  color: #e8ebed;
}

/* line 128, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.servicioLandingCuerpo ul {
  padding: 1rem;
  line-height: 2em;
  border-bottom: 1px solid #5e5e5e;
}

/* line 133, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.servicioLandingCuerpo .servicioLandingPrecio {
  font-size: 1.2em;
  width: max-content;
  padding: 0.5em 1em;
  border: 1px solid #e8ebed;
  border-radius: 8px;
  margin: auto;
}

/* line 140, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.servicioLandingCuerpo .servicioLandingPrecio span {
  color: #7b8084;
}

/* line 144, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.servicioLandingCuerpo .servicioLandingGratis {
  padding: 0.3em;
  font-size: 0.8em;
  width: max-content;
  margin: auto;
}

/* line 153, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
#divInternetEmpresas {
  background-image: linear-gradient(90deg, rgba(58, 198, 233, 0.3) 22%, rgba(0, 0, 0, 0.8) 81%), url("../media/wallpaper2.jpg");
  background-position: center left;
  background-size: cover;
  width: 100%;
}

/* line 161, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
#divInformacionLanding {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 27%, rgba(16, 43, 60, 0.3) 75%), url("../media/wallpaper4.jpg");
  background-position: bottom center;
  background-size: cover;
  padding-bottom: 4rem;
  width: 100%;
}

/* line 170, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.carousel-inner {
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 5rem;
}

/* line 175, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.tituloCarousel {
  text-align: center;
  color: #e8ebed;
  margin: 2rem;
  font-size: 200%;
  /* 100 300 500 700 */
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

/* line 182, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.textCarousel {
  text-align: left;
  color: #e8ebed;
  padding: 0em 3.5em;
  font-size: 100%;
  /* 100 300 500 700 */
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

/* line 189, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.botonCarousel {
  width: max-content;
  margin: 1rem auto;
  margin-top: 4rem;
}

/* line 193, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.botonCarousel a {
  padding: 0.6rem 1rem;
  border: 1px solid #212529;
  background-color: #3ac6e9;
  border-radius: 16px;
  /* 100 300 500 700 */
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #102b3c;
  text-decoration: none;
}

/* line 201, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.botonCarousel a:hover {
  color: #212529;
  background-color: #f4f4f4;
  transition: all 250ms ease-in-out;
}

/* line 208, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
#accordionExample {
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 211, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.accordion-item {
  background-color: rgba(0, 0, 0, 0.66);
  color: #e8ebed;
}

/* line 215, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.accordion-button {
  /*300 500 700*/
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  background-color: rgba(232, 235, 237, 0.3);
  outline: none;
  color: #e8ebed;
}

/* line 220, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.125);
}

/* line 225, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.accordion-button:not(.collapsed) {
  background-color: rgba(232, 235, 237, 0.6);
  color: #3ac6e9;
}

/* line 229, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

/* line 234, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.carousel-indicators [data-bs-target].active {
  background-color: #3ac6e9;
}

/* FOOTER */
/* line 240, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
footer {
  border-top: 2px solid #000;
  background: linear-gradient(0deg, #001c2d 18%, #003556 95%);
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

/* line 247, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.imgFooter {
  height: 30px;
  margin-right: 10px;
}

/* line 252, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
p.tituloFooter {
  font-size: 200%;
  color: #3ac6e9;
  border-bottom: 1px solid #e8ebed;
  margin-bottom: 10px;
}

/* line 259, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
p.textoFooter {
  /* 100 300 500 700 */
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 150%;
  color: #ced8e1;
  line-height: 1em;
}

/* line 265, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.aFooter {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 150%;
  color: #ced8e1;
  line-height: 1em;
}

/* line 271, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.aFooter:hover {
  text-decoration: underline;
  color: #e8ebed;
}

/* line 277, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.noUnderline:hover {
  text-decoration: none;
}

/* line 281, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.botonFooter {
  position: absolute;
  width: 3%;
  margin: 0;
  padding: 0;
  top: 45%;
  left: 92%;
  border-radius: 100%;
  transition: all 200ms linear;
}

/* line 292, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.botonFooter a {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 296, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.botonFooter a .botonUp {
  width: 100%;
  padding: 5px;
  color: #e8ebed;
  overflow: hidden;
}

/*----------------------*/
/* line 306, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
#headingOne {
  background-color: #11222d;
}

/* line 309, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.accordionTitle {
  font-size: 18px;
  color: #3ac6e9;
}

/* line 313, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.card {
  background-color: #040117;
}

/* CSS ZONA DE COBERTURA -------- */
/* line 318, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.divFondoCobertura {
  background-image: linear-gradient(180deg, rgba(208, 0, 214, 0.2) 21%, rgba(0, 0, 0, 0.25) 84%), url("../media/wallpaper1.jpg");
  padding-bottom: 1rem;
}

/* line 323, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.tituloCobertura {
  padding: 1rem;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #e8ebed;
  /* 100 300 500 700 */
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  border-bottom: 1px solid #3ac6e9;
}

/* line 331, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.textoCobertura {
  color: #e8ebed;
  /* 100 300 500 700 */
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  margin-bottom: 2em;
}

/* line 337, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.googleMap {
  display: block;
  border: 2px solid #212529;
  border-radius: 8px;
  width: 100%;
  height: 400px;
  margin: auto;
}

/* line 345, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.tituloCalles {
  padding: 1rem;
  font-size: 2em;
  border-bottom: 1px solid #e8ebed;
  color: #e8ebed;
  /* 100 300 500 700 */
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/* line 352, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.listaCalles {
  color: #e8ebed;
  /*300 500 700*/
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}

/* line 357, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.miArea {
  background-color: rgba(0, 0, 0, 0.33);
  padding: 1rem 0rem;
  border-radius: 10px;
  border: 1px solid #3ac6e9;
}

/* line 363, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.nombrePlan {
  text-decoration: none;
  position: relative;
  padding: 1rem;
  color: #e8ebed;
  border-radius: 8px;
  /*300 500 700*/
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  z-index: 1;
}

/* line 373, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.nombrePlan::before {
  content: '';
  position: absolute;
  border-radius: 8px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #3ac6e9;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
}

/* line 387, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.nombrePlan:hover::before, .nombrePlan:focus::before {
  transform: scaleX(1);
}

/* line 390, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.nombrePlan:hover {
  color: #102b3c;
}

/* CSS FORMULARIO */
/* line 394, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
#contenedorTituloServicioContacto {
  background: rgba(206, 206, 206, 0.7);
}

/* line 397, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.divFormulario {
  background-image: linear-gradient(180deg, #0c1325cf 11%, #82bde382 91%), url("../media/wallpaper3.jpg");
  background-size: cover;
  background-position: center left;
}

/* line 404, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.containerMio {
  padding: 1rem 0rem;
  width: 75%;
  margin: auto;
}

/* line 409, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.tituloForm {
  /* 100 300 500 700 */
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #e8ebed;
  font-size: 3rem;
  border-bottom: 2px solid #3ac6e9;
}

/* line 415, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.textoForm {
  width: 70%;
  padding: 1rem;
  /*300 500 700*/
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  color: #e8ebed;
  font-size: 2rem;
}

/* line 422, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.elFormulario {
  padding: 0;
}

/* line 424, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.elFormulario label {
  color: #e8ebed;
  font-size: 1.2em;
  padding-bottom: 0.5em;
  /* 100 300 500 700 */
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

/* line 430, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.elFormulario input {
  width: 90%;
  border-radius: 4px;
  padding: 2px 8px;
}

/* line 434, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.elFormulario input:focus, .elFormulario input :active {
  box-shadow: 5px -1px 34px 8px rgba(77, 194, 215, 0.46);
  -webkit-box-shadow: 5px -1px 34px 8px rgba(77, 194, 215, 0.46);
  -moz-box-shadow: 5px -1px 34px 8px rgba(77, 194, 215, 0.46);
  outline: 2px solid;
  outline-color: rgba(58, 198, 233, 0.6);
}

/* line 441, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.elFormulario input[type=checkbox] {
  width: max-content;
  padding: 0;
  margin: 0;
}

/* line 447, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.elFormulario select {
  width: 20%;
  outline-color: rgba(0, 0, 255, 0.5);
}

/* line 452, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.fondoContacto {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 8px;
}

/* line 457, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.formularioTitle {
  /* 100 300 500 700 */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #e8ebed;
  font-size: 2em;
  border-bottom: 1px solid #3ac6e9;
}

/* line 463, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.formularioTexto {
  /* 100 300 500 700 */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #e8ebed;
  font-size: 1.3em;
  padding: 1rem;
}

/* line 469, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.botonEnviar {
  /*300 500 700*/
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

/* line 472, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.containerGadget {
  background: linear-gradient(90deg, rgba(58, 198, 233, 0.3) 3%, rgba(0, 0, 0, 0) 100%);
  border-left: 2px solid #3ac6e9;
  border-radius: 20px;
  padding: 2% 5%;
}

/* line 478, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.widgetRedes {
  background-color: #212529;
  border-radius: 8px;
  margin: 4px;
  padding: 1rem;
  border: 1px solid #102b3c;
  box-shadow: 9px 0px 12px 4px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 9px 0px 12px 4px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 9px 0px 12px 4px rgba(0, 0, 0, 0.63);
}

/* line 487, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.widgetRedes:hover {
  transform: scale(1.05);
  background-color: #e8ebed;
  transition: all 180ms ease-in-out;
}

/* line 490, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.widgetRedes:hover .logoRedGadget {
  color: #102b3c;
}

/* line 496, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.miBoton, .miBotonAzul, .miBotonRojo {
  display: block;
  position: relative;
  width: max-content;
  margin: auto;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  /* 100 300 500 700 */
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  outline: none;
  position: relative;
  cursor: pointer;
  color: black;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

/* line 511, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.miBoton:hover, .miBotonAzul:hover, .miBotonRojo:hover, .miBoton:focus, .miBotonAzul:focus, .miBotonRojo:focus {
  background-color: #3ac6e9;
  color: #102b3c;
  box-shadow: 0px 0px 21px 9px rgba(16, 43, 60, 0.6);
  -webkit-box-shadow: 0px 0px 21px 9px rgba(16, 43, 60, 0.6);
  -moz-box-shadow: 0px 0px 21px 9px rgba(16, 43, 60, 0.6);
}

/* line 518, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.miBotonAzul {
  background-color: #0d6efd;
  color: #e8ebed;
}

/* line 523, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.miBotonRojo {
  background-color: #dc3545;
  color: #e8ebed;
}

/* line 530, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.logoRedGadget {
  margin: auto;
  color: #3ac6e9;
  width: 100%;
  max-width: 55px;
}

/* line 536, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.redesSociales {
  color: #e8ebed;
  border-bottom: 2px solid #3ac6e9;
  /*300 500 700*/
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  padding-left: 1rem;
  font-size: 1.5rem;
}

/* SERVICIO 1 */
/* line 545, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.bi-alarm-fill {
  width: 100%;
}

/* line 548, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.fondoServicioUno {
  background-image: linear-gradient(180deg, rgba(208, 0, 214, 0.2) 21%, rgba(0, 0, 0, 0.25) 84%), url("../media/wallpaper1.jpg");
  background-size: cover;
  background-position: top left;
  padding-bottom: 1rem;
}

/* line 556, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.tituloServicio {
  color: #3ac6e9;
  font-size: 2.5rem;
  padding-left: 2rem;
  border-bottom: 1px solid #e8ebed;
}

/* line 563, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.logoBootstrap {
  padding: 1rem;
  display: block;
  width: 50%;
  margin: auto;
  color: #e8ebed;
  border-bottom: 1px solid #e8ebed;
}

/* line 571, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
#herramientas {
  padding: 2rem;
}

/* line 575, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.contenedorCuerpoServicio h5 {
  color: #3ac6e9;
  /*300 500 700*/
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  padding-top: 4px;
  padding-left: 15%;
}

/* line 581, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.contenedorCuerpoServicio ul {
  /* 100 300 500 700 */
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #e8ebed;
  padding: 0em 4em;
}

/* line 587, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.servicioPrecio {
  color: #e8ebed;
  font-size: 1.5em;
  /* 100 300 500 700 */
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  width: max-content;
  margin: auto;
  padding: 0.5em;
  border: 1px solid #e8ebed;
  border-radius: 8px;
}

/* line 596, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.servicioPrecio span {
  color: grey;
}

/* line 600, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
#aclaracion {
  color: #e8ebed;
  font-size: 0.7em;
  text-align: center;
}

/* line 605, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.contenedorServicio {
  margin-top: 1rem;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.4);
  height: 96%;
  padding-bottom: 3rem;
}

/* line 612, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.contactoFormulario {
  background-image: linear-gradient(184deg, #000000cc 6%, #43136591 79%), url("../media/wallpaper4.jpg");
  background-size: cover;
  background-position: bottom;
}

/* line 619, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.containerTituloServicios {
  width: 75%;
  margin: auto;
  border-bottom: 1px solid #3ac6e9;
}

/* line 624, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.contenedorTituloContacto {
  margin: auto;
  padding: 1rem;
}

/* line 628, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.contenedorServiciosContacto {
  width: 100%;
  padding-left: 12%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 633, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.serviciosContacto {
  color: #eaeaea;
  position: relative;
  font-size: 2rem;
  /*300 500 700*/
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  text-align: center;
  padding-top: 1.7rem;
}

/* line 641, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
.textoServiciosContacto {
  color: #e8ebed;
  /* 100 300 500 700 */
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2rem;
}

/* line 647, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/estilos.scss */
html {
  background-color: #001c2d;
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
  /* line 4, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  #divTituloImg {
    background-image: linear-gradient(94deg, rgba(33, 37, 41, 0.9) 6%, rgba(58, 198, 233, 0.3) 79%), url("../media/wallpapermobile3.jpg");
    background-position: top;
  }
  /* line 10, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  #divInternetHogares {
    background-image: linear-gradient(180deg, rgba(208, 0, 214, 0.2) 21%, rgba(0, 0, 0, 0.25) 84%), url("../media/wallpapermobile1.jpg");
    background-position: center;
  }
  /* line 16, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  #divInternetEmpresas {
    background-image: linear-gradient(90deg, rgba(58, 198, 233, 0.3) 22%, rgba(0, 0, 0, 0.8) 81%), url("../media/wallpapermobile2.jpg");
  }
  /* line 21, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  #divInformacionLanding {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 27%, rgba(16, 43, 60, 0.3) 75%), url("../media/wallpapermobile4.jpg");
  }
  /* line 26, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  .fondoServicioUno {
    background-image: linear-gradient(180deg, rgba(208, 0, 214, 0.2) 21%, rgba(0, 0, 0, 0.25) 84%), url("../media/wallpapermobile1.jpg");
  }
  /* line 31, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  .contactoFormulario {
    background-image: linear-gradient(184deg, #000000cc 6%, #43136591 79%), url("../media/wallpapermobile4.jpg");
  }
  /* line 36, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  .divFondoCobertura {
    background-image: linear-gradient(180deg, rgba(208, 0, 214, 0.2) 21%, rgba(0, 0, 0, 0.25) 84%), url("../media/wallpapermobile1.jpg");
  }
  /* line 40, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  .divFormulario {
    background-image: linear-gradient(180deg, #0c1325cf 11%, #82bde382 91%), url("../media/wallpapermobile3.jpg");
  }
  /* line 45, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  .botonFooter {
    display: none;
  }
  /* line 48, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  .tituloCalles, .textoCobertura {
    font-size: 1em;
  }
  /* line 51, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  .botonCarousel a {
    font-size: 0.7em;
  }
  /* line 54, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  p.tituloLanding {
    margin: auto;
    font-size: 140%;
  }
  /* line 59, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  .elFormulario input {
    width: 90%;
  }
  /* line 62, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  .elFormulario select {
    width: 90%;
  }
  /* line 66, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  .tituloForm {
    font-size: 2.5rem;
  }
  /* line 69, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  .textoForm {
    width: 100%;
    padding: 1rem 0rem;
    font-size: 1.4rem;
  }
  /* line 74, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  .formularioTexto {
    padding: 4px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1020px) {
  /* line 83, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  #divTituloImg {
    background-image: linear-gradient(94deg, rgba(33, 37, 41, 0.9) 6%, rgba(58, 198, 233, 0.3) 79%), url("../media/wallpapertablet3.jpg");
    background-position: top;
  }
  /* line 89, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  #divInternetHogares {
    background-image: linear-gradient(180deg, rgba(208, 0, 214, 0.2) 21%, rgba(0, 0, 0, 0.25) 84%), url("../media/wallpapertablet1.jpg");
    background-position: center;
  }
  /* line 95, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  #divInternetEmpresas {
    background-image: linear-gradient(90deg, rgba(58, 198, 233, 0.3) 22%, rgba(0, 0, 0, 0.8) 81%), url("../media/wallpapertablet2.jpg");
  }
  /* line 100, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  #divInformacionLanding {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 27%, rgba(16, 43, 60, 0.3) 75%), url("../media/wallpapertablet4.jpg");
  }
  /* line 105, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  .fondoServicioUno {
    background-image: linear-gradient(180deg, rgba(208, 0, 214, 0.2) 21%, rgba(0, 0, 0, 0.25) 84%), url("../media/wallpapertablet1.jpg");
  }
  /* line 110, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  .contactoFormulario {
    background-image: linear-gradient(184deg, #000000cc 6%, #43136591 79%), url("../media/wallpapertablet4.jpg");
  }
  /* line 115, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  .divFondoCobertura {
    background-image: linear-gradient(180deg, rgba(208, 0, 214, 0.2) 21%, rgba(0, 0, 0, 0.25) 84%), url("../media/wallpapertablet1.jpg");
  }
  /* line 119, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  .divFormulario {
    background-image: linear-gradient(180deg, #0c1325cf 11%, #82bde382 91%), url("../media/wallpapertablet3.jpg");
  }
  /* line 124, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  p.tituloLanding {
    margin: auto;
    font-size: 200%;
  }
  /* line 128, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  p.textServicioLanding {
    font-size: 300%;
  }
  /* line 132, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  .elFormulario input {
    width: 90%;
  }
  /* line 135, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  .elFormulario select {
    width: 60%;
  }
}

@media only screen and (min-width: 1000px) {
  /* line 144, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  #divTituloImg {
    background-position: center right;
  }
  /* line 147, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  p.tituloLanding {
    margin: auto;
    font-size: 300%;
  }
  /* line 151, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  p.textServicioLanding {
    font-size: 340%;
  }
  /* line 154, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  p#aLaDerecha {
    text-align: right;
  }
  /* line 157, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  p#aLaIzquierda {
    text-align: left;
  }
  /* line 160, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  .tituloLanding {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 600px) {
  /* line 166, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  .textCarousel {
    margin: 0em 3em;
  }
}

@media only screen and (max-width: 600px) {
  /* line 171, C:/Users/Guille/Desktop/Curso_Coderhouse/subir_github/entregaFinal/scss/_mediaQueries.scss */
  .fotoFibraOptica {
    display: none;
  }
}

/*# sourceMappingURL=estilos.css.map */