
.font-Fjalla{
	font-family: 'Fjalla One', sans-serif;
	transform: skew(-10deg);
}
@mixin font-Montserrat($weight){ /* 100 300 500 700 */
	font-family:'Montserrat', sans-serif;
	font-weight: $weight;
}
@mixin font-Rubik($weight){ /*300 500 700*/
	font-family: 'Rubik', sans-serif;
	font-weight: $weight;
}
@mixin tituloPrincipal($tamanio){
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: $tamanio;
    color:#e7e7e7;
}
@for $i from 1 through 3{
	.weight-#{$i}{
		font-weight: 200*$i + 100
	} /* esto genera weight-1 = 300, weight-2 = 500 y weight-3 = 700, es otra forma de darle peso a las tipografías. */

}