$celeste: #3ac6e9;

$azul-oscuro:#102b3c;

$gris:#e1e8ed;

$negrito:#212529;

$negro:#101010;

$doscientos : 200;

$colores-footer: ("email":#7d7d7d, 
				  "twitter": #08a0e9,
				  "facebook": #3B5998,
				  );
