@import "fonts";
@import "variables";
@import "main";
@import "animaciones";

/* -----HEADER ------*/
#elHeader{
	background: linear-gradient(294deg, #173a50 18%, #00121d 95%);
	padding:0px;
	@include font-Rubik(300);
}
#logoNetservices{
	height: 40px;
	padding:0;
}

.botonHeader{
	width:max-content;
	padding: 8px !important;
	margin: 0px 4px;
	position: relative;
	&::before{
		content:'';
		position:absolute;
		left:0;
		right: 0;
		bottom: 0;
		height: 2px;
		background-color: $gris;
		transform:scaleX(0);
		transition:transform 220ms ease-in-out;
		transform-origin: left;
	}		
}
.botonHeader:active::before,
.botonHeader:hover::before{
	transform: scaleX(1);
}

.activeMio{
	color:white !important;
	position: relative;	
}
.activeMio::after{
	content:'';
	position: absolute;
	left:0;
	right: 0;
	bottom: 0;
	height: 2px;
	background-color: $celeste;	
}
/*----------------*/
/*----------------*/
#divTituloImg{
	background-image: 
	linear-gradient(94deg, rgba(33,37,41,.9) 6%, rgba(58,198,233,0.3) 79%),
	url("../media/wallpaper3.jpg");
	background-size: cover;
	background-position: bottom;
	width: 100%;
	height: 40%;
}
.tituloLanding{
	@include font-Montserrat(400);
	color: $gris;
	font-size: 2rem;
}
.fotoFibraOptica{
	display:block;
	width: 100%;
	max-width: 30vh;
}
#divInternetHogares{
	background-image: 
	linear-gradient(180deg, rgba(208,0,214,0.20) 21%, rgba(0,0,0,0.25) 84%),
	url("../media/wallpaper1.jpg");
	width: 100%;
}
.tipoPlan{
	font-size:1.1em;
	color: white;
}
#contenedorTituloServicio{
	background:rgba(#000, 0.4);
	margin:0;
	width: 100%;
}
.tituloServicioLanding{
	width: 100%;
	@include font-Rubik(500);
	color:$gris;
	padding: 1rem;
	font-size:180%;
	text-align:center;
}
.textServicioLanding{
	@include font-Montserrat(300);
	color: white;
	font-size: 200%;
}
.fondoServicioLanding{
	background-color: rgba(#000, 0.5);
	padding: 1rem;
	border-radius: 8px;
	margin-bottom: 5rem;
	&:hover{
		background-color: rgba(#000, 0.75);
		transform: scale(1.1);
		transition: all 250ms ease-in-out;
	}
}
.servicioLandingTitulo{
	@include font-Rubik(500);
	font-size: 1.3em;
	color:$gris;
	border-bottom: 1px solid #5e5e5e;
	.elTitulo{
		color: $gris;
		padding: 0px 10px;
		margin-bottom:0.3em;
	}
}
.servicioLandingCuerpo{
	@include font-Rubik(300);
	font-size:1.1em;
	color:$gris;
	ul{
		padding: 1rem;
		line-height: 2em;
		border-bottom: 1px solid #5e5e5e;
	}
	.servicioLandingPrecio{
		font-size: 1.2em;
		width: max-content;
		padding: 0.5em 1em;
		border: 1px solid $gris;
		border-radius: 8px;
		margin: auto;
		span{
			color: #7b8084;
		}
	}
	.servicioLandingGratis{
		padding:0.3em;
		font-size:0.8em;
		width: max-content;
		margin:auto;
	}
	.servicioLandingBotonLoQuiero{
	}	
}
#divInternetEmpresas{
	background-image: 
	linear-gradient(90deg, rgba(58,198,233,0.3) 22%, rgba(0,0,0,0.8) 81%),
	url("../media/wallpaper2.jpg");
	background-position: center left;
	background-size:cover;
	width: 100%;
}
#divInformacionLanding{
	background-image: 
	linear-gradient(180deg, rgba(0,0,0,0.4) 27%, rgba(16,43,60,0.3) 75%),
	url("../media/wallpaper4.jpg");
	background-position: bottom center;
	background-size:cover;
	padding-bottom: 4rem;
	width: 100%;
}
.carousel-inner{
	border-radius: 16px;
	background-color: rgba(#000, 0.5);
	padding-bottom: 5rem;
}
.tituloCarousel{
	text-align: center;
	color: $gris;
	margin: 2rem;
	font-size: 200%;
	@include font-Montserrat(100);
}
.textCarousel{
	text-align: left;
	color: $gris;
	padding: 0em 3.5em;
	font-size: 100%;
	@include font-Montserrat(100);
}
.botonCarousel{
	width: max-content;
	margin: 1rem auto;
	margin-top: 4rem;
	a{
		padding:0.6rem 1rem;
		border: 1px solid $negrito;
		background-color: $celeste;
		border-radius: 16px;
		@include font-Montserrat(500);
		color: $azul-oscuro;
		text-decoration: none;
		&:hover{
			color:$negrito;
			background-color: #f4f4f4;
			transition: all 250ms ease-in-out;
		}
	}
}
#accordionExample{
	background-color: rgba(#000, 0.1);
}
.accordion-item{
	background-color: rgba(#000, 0.66);
	color:$gris;
}
.accordion-button{
	@include font-Rubik(300);
	background-color:rgba($gris, 0.3);
	outline:none;
	color:$gris;
	&:focus{
		box-shadow: none;
    	border-color: rgba(0,0,0,.125);
	}
}
.accordion-button:not(.collapsed){
	background-color:rgba($gris, 0.6);
	color:$celeste;
}



/* FOOTER */
footer{
	border-top: 2px solid #000;
	background: linear-gradient(0deg, rgba(0,28,45,1) 18%, #003556 95%);
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}
.imgFooter{
 	height: 30px;
 	margin-right: 10px;
}

p.tituloFooter{
	font-size: 200%;
    color: #3ac6e9;
    @extend .font-Fjalla;
    border-bottom: 1px solid $gris;
    margin-bottom: 10px;
}
p.textoFooter{
    @include font-Montserrat(500);
	font-size: 150%;
    color: #ced8e1;
    line-height: 1em;
}
.aFooter{
	text-decoration:none;
	font-family: 'Montserrat', sans-serif;
	font-size: 150%;
    color: #ced8e1;
    line-height: 1em;
    &:hover{
    	text-decoration: underline;
    	color: $gris;
    }
}
.noUnderline{
	&:hover{
		text-decoration: none;
	}
}
.botonFooter{
	position: absolute;
	width: 3%;
	margin: 0;
	padding: 0;
	top: 45%;
	left: 92%;
	border-radius: 100%;
	transition: all 200ms linear;
	&:hover{
	} 
	a{
		width: 100%;
		margin: 0;
		padding: 0;
		.botonUp{
			width: 100%;
			padding: 5px;
			color: $gris;
			overflow: hidden;
		}
	}
}

/*----------------------*/
#headingOne{
	background-color: #11222d;
}
.accordionTitle{
	font-size:18px;
	color:#3ac6e9;
}
.card{
	background-color:#040117;
}

/* CSS ZONA DE COBERTURA -------- */
.divFondoCobertura{
	background-image: linear-gradient(180deg, rgba(208,0,214,0.20) 21%, rgba(0,0,0,0.25) 84%),
	url("../media/wallpaper1.jpg");
	padding-bottom: 1rem;
}
.tituloCobertura{
	padding: 1rem;
	font-size: 2rem;
	margin-bottom: 2rem;
	color: $gris;
	@include font-Montserrat(500);
	border-bottom: 1px solid $celeste;
}
.textoCobertura{
	color: $gris;
	@include font-Montserrat(300);
	font-size: 1.5em;
	margin-bottom: 2em;
}
.googleMap{
	display: block;
	border:2px solid $negrito;
	border-radius: 8px;
	width: 100%;
	height: 400px;
	margin:auto;
}
.tituloCalles{
	padding: 1rem;
	font-size:2em;
	border-bottom: 1px solid $gris;
	color: $gris;
	@include font-Montserrat(300);
}
.listaCalles{
	color: $gris;
	@include font-Rubik(300);
	font-size: 1.2em;
}
.miArea{
	background-color: rgba(#000, 0.33);
	padding: 1rem 0rem;
	border-radius: 10px;
	border: 1px solid $celeste;
}
.nombrePlan{
	text-decoration: none;
	position:relative;
	padding: 1rem;
	color: $gris;
	border-radius: 8px;
	@include font-Rubik(500);
	font-size: 1.5em;
	z-index: 1;
}
.nombrePlan::before {
	content:'';
	position:absolute;
	border-radius: 8px;
	top:0;
	left: 0;
	bottom:0;
	right: 0;
	z-index: -1;
	background-color: $celeste;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 300ms ease-in-out;
}
.nombrePlan:hover::before, .nombrePlan:focus::before{
	transform: scaleX(1);
}
.nombrePlan:hover{
	color:$azul-oscuro;
}
/* CSS FORMULARIO */
#contenedorTituloServicioContacto{
	background: rgba(#cececeb3, 0.7);
}
.divFormulario{
	background-image: 
	linear-gradient(180deg, #0c1325cf 11%, #82bde382 91%),
	url("../media/wallpaper3.jpg");
	background-size: cover;
	background-position: center left;
}
.containerMio{
	padding: 1rem 0rem;
	width:75%;
	margin:auto;
}
.tituloForm{
	@include font-Montserrat(600);
	color: $gris;
	font-size: 3rem;
	border-bottom: 2px solid $celeste;
}
.textoForm{
	width: 70%;
	padding: 1rem;
	@include font-Rubik(300);
	color: $gris;
	font-size: 2rem;
}
.elFormulario{
	padding: 0;
	label{
		color: $gris;
		font-size: 1.2em;
		padding-bottom: 0.5em;
		@include font-Montserrat(500);
	}
	input{
		width: 90%;
		border-radius: 4px;
		padding: 2px 8px;
		&:focus, :active{
		box-shadow: 5px -1px 34px 8px rgba(77,194,215,0.46);
		-webkit-box-shadow: 5px -1px 34px 8px rgba(77,194,215,0.46);
		-moz-box-shadow: 5px -1px 34px 8px rgba(77,194,215,0.46);
			outline: 2px solid;
			outline-color: rgba($celeste, 0.6);
		}
		&[type=checkbox]{
			width: max-content;
			padding: 0;
			margin:0;
		}
	}
	select{
		width: 20%;
		outline-color: rgba(blue, 0.5);
	}
}
.fondoContacto{
	background-color: rgba(#000, 0.5);
	padding: 1rem;
	border-radius: 8px;
}
.formularioTitle{
	@include font-Montserrat(400);
	color: $gris;
	font-size: 2em;
	border-bottom: 1px solid $celeste;
}
.formularioTexto{
	@include font-Montserrat(400);
	color: $gris;
	font-size: 1.3em;
	padding:1rem;
}
.botonEnviar{
	@include font-Rubik(500);
}
.containerGadget{
	background: linear-gradient(90deg, rgba(58,198,233,0.3) 3%, rgba(0,0,0,0) 100%);
	border-left: 2px solid $celeste;
	border-radius: 20px;
	padding: 2% 5%;
}
.widgetRedes{
	background-color: $negrito;
	border-radius: 8px;
	margin: 4px;
	padding: 1rem;
	border: 1px solid $azul-oscuro;
	box-shadow: 9px 0px 12px 4px rgba(0,0,0,0.63);
	-webkit-box-shadow: 9px 0px 12px 4px rgba(0,0,0,0.63);
	-moz-box-shadow: 9px 0px 12px 4px rgba(0,0,0,0.63);
	&:hover{
		transform: scale(1.05);
		background-color: $gris;
		.logoRedGadget{
			color: $azul-oscuro;
		}
		transition: all 180ms ease-in-out;
	}
}
.miBoton{
	display: block;
	position: relative;
	width: max-content;
	margin: auto;
	padding: 0.6rem 1rem;
	border-radius: 6px;
	@include font-Montserrat(500);
	outline: none;
	position: relative;
	cursor: pointer;
	color: black;
	text-decoration: none;
	transition: all 200ms ease-in-out;
}
.miBoton:hover, .miBoton:focus{
	background-color: $celeste;
	color: $azul-oscuro;
	box-shadow: 0px 0px 21px 9px rgba(16,43,60,0.6);
	-webkit-box-shadow: 0px 0px 21px 9px rgba(16,43,60,0.6);
	-moz-box-shadow: 0px 0px 21px 9px rgba(16,43,60,0.6);
}
.miBotonAzul{
	@extend .miBoton;
	background-color: #0d6efd;
	color: $gris;
}
.miBotonRojo{
	@extend .miBoton;
	background-color: #dc3545;
	color: $gris;
}


.logoRedGadget{
	margin:auto;
	color: $celeste;
	width: 100%;
	max-width: 55px;
}
.redesSociales{
	color: $gris;
	border-bottom: 2px solid $celeste;
	@include font-Rubik(500);
	padding-left: 1rem;
	font-size: 1.5rem; 
}
/* SERVICIO 1 */

.bi-alarm-fill{
	width: 100%;
}
.fondoServicioUno{
	background-image:
		linear-gradient(180deg, rgba(208,0,214,0.20) 21%, rgba(0,0,0,0.25) 84%),
		url("../media/wallpaper1.jpg");
	background-size: cover;
	background-position: top left;
	padding-bottom: 1rem;
}
.tituloServicio{
	color: $celeste;
	@extend .font-Fjalla;
	font-size: 2.5rem;
	padding-left: 2rem;
	border-bottom: 1px solid $gris;
}
.logoBootstrap{
	padding: 1rem;
	display: block;
	width:50%;
	margin: auto;
	color: $gris;
	border-bottom: 1px solid $gris;
}
#herramientas{
	padding: 2rem;
}
.contenedorCuerpoServicio{
	h5{
		color: $celeste;
		@include font-Rubik(500);
		padding-top: 4px;
		padding-left: 15%;
	}
	ul{
		@include font-Montserrat(300);
		color: $gris;
		padding: 0em 4em;
	}
}
.servicioPrecio{
	color: $gris;
	font-size: 1.5em;
	@include font-Montserrat(500);
	width: max-content;
	margin: auto;
	padding: 0.5em;
	border: 1px solid $gris;
	border-radius: 8px;
	span{
		color: grey;
	}
}
#aclaracion{
	color: $gris;
	font-size: 0.7em;
	text-align: center;
}
.contenedorServicio{
	margin-top: 1rem;
	border-radius: 16px;
	background-color: rgba(#000, 0.4);
	height: 96%;
	padding-bottom: 3rem;
}
.contactoFormulario{
	background-image: 
	linear-gradient(184deg, #000000cc 6%, #43136591 79%),
	url("../media/wallpaper4.jpg");
	background-size: cover;
	background-position: bottom;
}
.containerTituloServicios{
	width: 75%;
	margin: auto;
	border-bottom: 1px solid $celeste;
}
.contenedorTituloContacto{
	margin:auto;
	padding: 1rem;
}
.contenedorServiciosContacto{
	width: 100%;
	padding-left: 12%;
	background-color: rgba(#000, 0.5);
}
.serviciosContacto{
	color: #eaeaea;
	position:relative;
	font-size: 2rem;
	@include font-Rubik(300);
	text-align: center;
	padding-top: 1.7rem;
}
.textoServiciosContacto{
	color:$gris;
	@include font-Montserrat(300);
	font-size: 1.2rem;
	line-height: 2rem;
}


html{
	background-color: #001c2d;
	scroll-behavior: smooth;
	scroll-padding-top: 120px;
}

@import "mediaQueries";